

body {
    margin: 0px auto;
}

header {
    background: url(file:///Users/cash/sunnyside-agency/images/photos/image-header.jpg);
    background-size: cover;
    color: white;
    width:1440px;
    height: 800px;
    left: 0px;
    top:0px;
    position: relative;
    
}

.firstlist {
    display: flex;
    list-style: none;
    justify-content: flex-end;  
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height, or 139% */   
    letter-spacing: -0.128571px;    
    color: #FFFFFF;
    
}

li {
    padding: 50px 40px;    
}
.about:hover, .sunnyside:hover, .services:hover, .contact:hover, .projects:hover{
    cursor: pointer;
}
.creative {
    position: absolute;
    width: 750px;
    height: 69px;
    left: 344.5px;
    top: 195px;
    font-family: 'Fraunces 9pt Soft';
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    line-height: 69px;
    text-align: center;
    letter-spacing: 8.75px;
    text-transform: uppercase;
    color: #FFFFFF;
}

#topnav_responsive_menu {
    display: none;
}

.sunnyside {
    font-family: 'Fraunces 9pt Soft';
    margin-right: 630px;
    margin-bottom: 50px;
    font-size: 200%;
}

.fleche {
    position: absolute;
    width: 0px;
    height: 100px;
    left: 719.5px;
    top: 360.54px;
    border: 6px solid #FFFFFF;
}

.pointe::before, .pointe::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 20px;
    left: 705px;
    top: 453.02px;
    border: 3px solid #FFFFFF;
}

.pointe::before {
    transform: rotate(45deg);
    transform-origin: right bottom;
    top: 452px;
    left: 720px;
}

.pointe::after {
    transform: rotate(135deg);
    transform-origin: right top;
    top: 479px;
    left: 720px
}




.main, .maintwo {
    display: flex;
    margin-top: -5px;
    width: 1440px;
   
}

.textmain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0px 130px;
}

.title b{
    font-family: 'Fraunces 9pt Soft';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: -0.285714px;
    color: #24303E;
}

.content {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.128571px;
    color: #808397;
}

h4 {
    font-family: 'Fraunces 9pt Soft';
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24303E;
}

.learnegg, .learnglass {
    text-decoration: underline 5px rgb(228, 228, 228);
}

.learnegg:hover {
    text-decoration: underline 5px yellow;  
    cursor: pointer; 
}

.learnglass:hover {
    text-decoration: underline 5px rgb(250, 75, 89);   
    cursor: pointer;
}





.lastbloc {    
    display: flex;
    margin-top: -5px;
    width: 1440px;
    
}

.cherry {
    background: url(file:///Users/cash/sunnyside-agency/images/photos/image-graphic-design.jpg);
    background-repeat: no-repeat;
    width: 910.4px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  
}

.manda {
    background: url(file:///Users/cash/sunnyside-agency/images/photos/image-photography.jpg);
    background-repeat: no-repeat;
    width: 910.4px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.titlefruit {
    font-family: 'Fraunces 9pt Soft';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 35px;

    text-align: center;
    letter-spacing: -0.2px;
    color: #24554A;

}

.textfruit {
    width: 50%;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: -0.114286px;
    padding-bottom: 50px;
    color: #3E7467;
}

.client {
    font-family: 'Fraunces 9pt Soft';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 5px;
    color: #A7AAAD;
    margin-top: 100px;
}



.staff {
    display: flex;
    margin-bottom: 300px;
    width: 1440px;

}

.stafftext {

    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.128571px;
    color: #5B636D;
}

.director, .officer, .owner {
    margin: 0 auto;
    padding: 50px;
    text-align: center;
    width: 350px;
    height: 96px;
}

.emily, .thomas, .jennie {
    width: 72px;
    height: 72px;
    border-radius: 50px;
}

h5 {
    font-family: 'Fraunces 9pt Soft';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.128571px;
    color: #24303E;
}

h6 {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    /* identical to box height, or 179% */
    text-align: center;
    letter-spacing: -0.1px;
    color: #A7AAAD;
}

.gallery {
    display: flex;
    width: 1440px;
    height:447px;
}

footer {
    margin-top: -40px;
    width: 1440px;
    height: 350px;
    background: #90D4C6;
}

.sunny {
    text-align: center;
    padding-top: 80px;
    font-family: 'Barlow';    
    font-weight: 600;
    font-size: 40px;
    line-height: 25px;
    /* identical to box height, or 139% */    
    letter-spacing: -0.128571px;    
    color: #458D7E; 
}

.secondlist {
    list-style: none;
    display: flex;
    justify-content: center;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height, or 139% */
    letter-spacing: -0.128571px;
    margin-top: -30px;
    color: #458D7E;
}

.icons {
    display: flex;
    justify-content: center;
    
}

svg {
    padding: 0 20px;
}

.links:hover {
    color: white;   
    cursor: pointer;
}

svg:hover {
    cursor: pointer;
}

#home_link {
    display: none;
}

.topnav_link {
    display: none;
}


/* Mobile */

@media screen and (max-width: 640px) {
   
    header {
    width:375px;
    height: 640px;
    background-position: center;
    background-repeat: no-repeat;
    
    top: 0px;
    }

    .about, .services, .projects, .contact {
        display: none;

    }


    .sunnyside {
        margin-right: 200px;
        margin-top: -90px;
        font-size: 150%;
    }

    .creative {
        margin-left: -350px;
        max-width: 375px;
        font-weight: 600;
        font-size: 30px;
    }

    .fleche {
        margin-left: 180px;
    }

    .pointe:before, .pointe:after {
        margin-left: 180px;
    }
    .main {
        display: flex;
        flex-wrap: wrap-reverse;
        width: 375px;
    }

    .maintwo {
        display: flex;
        flex-wrap: wrap;
        width: 375px;
    }

    .textmain {
        padding: 0 35px;
    }

    .lastbloc {
        display: flex;
        flex-wrap: wrap;
        width: 375px;
    }

    .staff {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 375px;
    }

    .director, .officer, .owner {
        margin-top: -100px;
        margin-bottom: -100px;
        padding: 230px 0px;
        text-align: center;
        width: 350px;
        height: 96px;
    }
     .egg {
         width: 375px;
     }

     .glass {
         width: 375px;
     }

    .manda {
        background-size: 200%;
        background-position: center;
    }

    .cherry {
        background-size: 200%;
        background-position: center;
    }

    .gallery {
        margin-top: -150px;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        width: 375px;
       
    }

    .fourpics {
        width: 187px;
    }

    footer {
        width: 375px;   
    }

    .links {
        padding: 40px 25px;
    }

    .secondlist {
       margin-right: 20px;
    }

    .fleche {
        left: 0;
    }

    .pointe::before, .pointe::after {
        left:0;
    }






    /* hide classic menu */
  #topnav_menu {
    display: none;
  }

  /* position home link at left and hamburger at right */
  #home_link {
    flex-grow: 1;
  }

  /* disable horizontal scrolling  */
  #root {
    position: relative;
    overflow-x: hidden;
  }

  /* show responsive menu and position at the right of the screen */
  #topnav_responsive_menu {
    display: block;
    position: absolute;
    margin: 0;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    z-index: 99;

    transform-origin: 0% 0%;
    transform: translate(200%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #topnav_responsive_menu ul {
    display: flex;
    flex-direction: column;

    position: absolute;
    margin: 0;
    right: 0;
    top: 0;

    min-width: 50vw;
    height: 100vh;
    padding: 56px 0 0;

    text-align: center;

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
  }

  #topnav_responsive_menu li {
    padding: 12px 24px;
  }

  #topnav_responsive_menu a {
    white-space: nowrap;
    color: #333;
    text-decoration: none;
  }

  /* And let's slide it in from the right */
  #topnav_responsive_menu.open {
    transform: none;
    position: fixed;
  }

  /* ******************** HAMBURGER ICON ******************** */
  /* define size and position of the hamburger link */
  #topnav_hamburger_icon {
    display: block;
    position: relative;
    margin-top: 30px;
    margin-left: 320px;
    width: 33px;
    height: 28px;

    z-index: 100;

    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }

  /* define the style (size, color, position, animation, ...) of the 3 spans */
  #topnav_hamburger_icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    margin-bottom: 5px;

    background: #ededed;
    border-radius: 3px;

    z-index: 100;

    opacity: 1;
    left: 0;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  /* set the 3 spans position to look like a hamburger */
  #topnav_hamburger_icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
  }
  #topnav_hamburger_icon span:nth-child(2) {
    top: 12px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  #topnav_hamburger_icon span:nth-child(3) {
    top: 24px;
    -webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    -o-transform-origin: left bottom;
    transform-origin: left bottom;
  }

  /* change color when opening the menu */
  #topnav_hamburger_icon.open span {
    background: #333;
  }

  /* the first span rotates 45° \ */
  #topnav_hamburger_icon.open span:nth-child(1) {
    width: 110%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* the second span disappears */
  #topnav_hamburger_icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  /* the last span rotates -45° / */
  #topnav_hamburger_icon.open span:nth-child(3) {
    width: 110%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}